<!DOCTYPE HTML>
<html lang="en">
<head>
	<!-- <meta charset="utf-8"> -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" >
	<title>Heart life hospital</title>
	<link href="style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<body>
	<div id="header">
		<div class="logo logo">
			<img alt="text" class="imgheight" src="logo.png"/>
			<p class="logodescription logodescription">Первая частная кардиохирургия</p>
		</div>
		<div class="contactinfo">
			<div class="center">
				<span class="regular-font-lg">+38 (044) 123-45-67</span><br/>
				<span> г. Киев, ул. Амосова, 6</span>
			</div>
		</div>
		<nav class="menu">
			<a href="#" class="register-in-reception"><img src="i_write.png" class="leftimg" alt="text"/>Записаться на прием</a>
			<a href="#" class="call-back"><img src="i_phone.png" class="leftimg" alt="text"/>Обратный звонок</a>
			<a href="#" class="write-us"><img src="i_airpl.png" class="leftimg" alt="text" />Написать нам</a>
			<a href="#" class="search"><img src="i_search.png" class="leftimg" alt="text"/></a>
			<a href="#" class="len-en">En</a>
			<a href="#" class="len-ukr">Укр</a>
			<a href="#" class="len-ru">Рус</a>
		</nav>
		<div id="primary-menu">
			<ul>
				<li><a href="#">О клинике</a><i class="fa fa-chevron-down fa-lg" aria-hidden="true" ></i></li>
				<li><a href="#">Врачи</a><i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></li>
				<li><a href="#">Цены</a><i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></li>
				<li><a href="#">Услуги</a><i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></li>
				<li><a href="#">Новости</a><i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></li>
				<li><a href="#">Контакты</a><i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></li>
			</ul>
		</div>
	</div>
	<div class="menu-bg">
		<h3 class="back-fulllist">Услуги</h3>
		<nav class="sidebar">
			<a href="#"><i class="fa fa-heartbeat fa-3x blocksidebar" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-medkit fa-3x blocksidebar" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-hospital-o fa-3x blocksidebar" aria-hidden="true"></i></a>
			<a href="#" class=""><i class="fa fa-commenting-o fa-3x blocksidebar" aria-hidden="true"></i></a>
			<a href="#" class=""><i class="fa fa-list fa-3x blocksidebar" aria-hidden="true"></i></a>
			<a href="#" class=""><i class="fa fa-list fa-3x blocksidebar" aria-hidden="true"></i></a>
			<br class ="brmain"/>
			<a href="#" class=""><i class="fa fa-facebook-square fa-3x blocksidebar" aria-hidden="true"></i></a>
			<a href="#" class=""><i class="fa fa-youtube-play fa-3x blocksidebar" aria-hidden="true"></i></a>
			<a href="#" class=""><i class="fa fa-instagram fa-3x blocksidebar" aria-hidden="true"></i></a>
		</nav>
	</div>
	<div class="doc-photo">
		<img class="doc-photo-mob imgwidthlarge" src="ann_petrova_smaller.jpg" alt=""/>
	</div>
	<div class="doc-info">
		<header class="doc-name">Петрова<br/>Анна Семёновна</header>
		<section class="doc-description-bold">
			<h5 class="smalltext">hhh</h5>
				<p>
					Врач высшей категории<b class="redtext"> | </b> Стаж работы: 26 лет<br class ="brmain"/>
					Образование: <i class="doc-description-italic">Киевский национальный медицинский</i><br class="br-i"/>
					<i class="doc-description-italic">университет</i><br class ="brmain"/>
					Врач кардиохирург<br class ="brmain"/>
					Приоритетные направления работы:<i class="doc-description-italic">Ишемическая болезнь,</i><br class ="br-i"/>
					<i class="doc-description-italic">Инфаркт Миокарда, Пролапс митрального клапана</i><br class="br-large"/>
					<a href="#"><img src="arrow_left.png" class="imgheightsmall" alt="" /></a>
					<i class="back-fulllist">Вернуться к полному списку врачей</i>
				</p>
		</section>
	</div>
	<div class="biography-left">
		<header class="gradient-text">Биография</header>
		<section class="b-section-left">
			<h6 class="smalltext">hhh</h6>
				<p>
					<i class="gradient-text gr">”</i>
					<i class="expression">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					<br class ="br-i"/><br class ="br-i"/>
					<i class="copywriting">© Aristotel</i>
					</i><br class ="br-i"/><br class ="br-i"/><br class ="br-i"/><br class ="br-i"/>
				</p>
		</section>
		<section class="biography-text-left">
			<h6 class="smalltext">hhh</h6>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typeset-ting industry. Lorem Ipsum has been the industry's
					standard dummy text ever since the 1500s, when an unknown
					printer took a galley of type and scrambled it to make a
					type specimen book.Lorem Ipsum is simply dummy text of
					the printing and typesetting industry. Lorem Ipsum has been
					the industry's
				</p>
		</section>
	</div>
	<div class="biography-right">
		<section class="biography-text-right">
			<h5 class="smalltext">hhh</h5>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typeset-<br/>
					ting industry. Lorem Ipsum has been the industry's standard dummy text
					ever since the 1500s, when an unknown printer took a galley of type and
					scrambled it to make a type specimen book.<br/>
					<h4>It has survived not only five centuries:</h4>
					<i class="blue-text">1969</i> - but also the leap into electronic typesetting, remaining<br/>
					<i class="blue-text">1969</i> - but also the leap into electronic typesetting, remaining
					but also the leap into electronic typesetting, remaining es<br/>
					<h4>It has survived not only five centuries:</h4>
					<ul class="biography-list">
						<li>but also the leap into electronic typesetting, remaining es</li>
						<li>but also the leap into electronic typesetting, remaining but also the<br/>
							 leap into electronic typesetting, remaining es</li>
					</ul>
			</p>
		</section>
	</div>
	<div class="block-callus">
		<div class="form-callus">
			<header class="gradient-text">Записаться на прием</header>
			<i class="expression-formblock">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</i>
			<form action="#" class="form">
				<input class="inputform" type="text"  placeholder="Имя">
				<input class="inputform" type="tel" placeholder="Номер телелефона">
				<input class="inputform" type="email" placeholder="E-mail">
				<select class="">
					<option class="option" value="" disabled selected>Выберите направление</option>
					<option>направление 1</option>
					<option>направление 2</option>
				</select><br/><br/>
				<span class="spanform">Желаемая дата и время:</span>
				<input type="date"><br/>
				<div class="btn-enroll-block">
					<button class="button-enroll" type="submit">Записаться<i class="fa fa-long-arrow-right fa-lg "></i></button>
				</div>
			</form>
		</div>
	</div>
	<div class="map"><img src="map_health_life.png" class="imgheightlarge" alt="" /></div>
	<div id="footer">
		<div class="logo-footer">
			<img class = "imgheight" src="logo_footer.png" alt="text"/>
		</div>
		<div class="contactinfo-footer">
			<div class="center">
				<span class="regular-font-lg">+38 (044) 123-45-67</span><br/>
				<span> г. Киев, ул. Амосова, 6</span>
			</div>
		</div>
		<nav id="primary-menu-footer">
			<a href="#">О клинике<i class="fa fa-chevron-down fa-lg" aria-hidden="true" ></i></a>
			<a href="#">Врачи<i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></a>
			<a href="#">Цены<i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></a>
			<a href="#">Услуги<i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></a>
			<a href="#">Новости<i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></a>
			<a href="#">Контакты<i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i></a>
		</nav>
	</div>
	<div class="copyrightblock">
		<span class="copyright-text-left">© 2017. Heart life hospital.</span>
		<span class="copyright-text-right"> Разработка: <a href="#" >Medmarkeriing</a></span>
	</div>
</body>

</html>
