body{
 font-family: 'Work Sans', sans-serif;
}
.container {
    display: block;
    border: 1px solid black;
    width: 700px;
    margin: auto;
    padding: 10px;
    background-color: #eeeeee;
}
. box {
  margin: auto;
}
.leaderboard {
    text-align: center;
}

.inside {
    flex-direction: row;
    flex-grow: 1;
}

div.board {
    margin: auto;
    margin-top: 10px;
    width: 410px;
    border: solid 1px transparent;
}

.menub{
    display: none;
}

.menu  {
    display: inline;
    width: 200px;
}

div > div {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(119, 0, 97, 1);
}

div > div:hover {
    background-color: rgba(81, 3, 66, 0.4);
    animation-name: setColor;
    animation-duration: 2s;
}

@keyframes setColor {
    from {background-color: rgba(81, 3, 66, 0.8);}
    to {background-color: rgb(242, 164, 227);}
}

button {
    background-color: rgba(102, 14, 71, 0.6);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: rgba(102, 14, 71, 1);
    color: black;
}

.board {
    background-color:rgba(0,0,0,0.5);
}

input {
    width: 200px;
    padding: 13.5px 20px;
    margin: 8px 0;
    border: 1px solid rgba(0,0,0,0.8);
    transition: 0.5s;
    outline: none;
}

input:focus{
    border: 3px solid #555;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #cccccc}

#time {
    font-size: 250%;
    text-align: center;
    margin-top: 60px;
}
